body {
  font-family: 'Inter', sans-serif;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  width: 100%;
  max-width: 500px;

  justify-content: center;
  align-items: center;
}

.form > div {
  width: 100%;
}

.user {
  display: flex;

  align-self: flex-end;

  margin: 8px 16px 0;
  font-weight: bold;

  cursor: pointer;
}

.github-btn {
  border: 1px solid #e1e5f0;
  background-color: #fff;
  width: 245px;
  margin: 0 auto 16px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.github-btn > div {
  margin-left: 4px;
}

.loading {
  display: flex;
  flex-direction: column;
  height: 100%;

  justify-content: center;
  align-items: center;

  font-weight: bold;
}

.menuBar {
  background-color: #DB6A00;
  padding: 10px 10%;
  margin: 0;
  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;

}

.menuBar > div {
  display: flex;
  flex-direction: row;

  align-items: center;
}

.menuBar > div > h1 {
  font-family: 'Lemon', serif;
  font-size: 40px;
}



.page {
  padding: 20px 10%;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.page > div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.loginLink {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
}

.submitButton {
  font-weight: 700;
}

.loading {
  display: flex;
  flex-direction: column;
  height: 100%;

  justify-content: center;
  align-items: center;

  font-weight: bold;
}

.situation-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: 100%;
  gap: 20px;
  flex-wrap: wrap;
}
